<div class="row">

  <!-- <div class="col-xs-12 col-12">
    <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
      <div class="btn-group mr-2" role="group">
        <button (click)="doOpen()" type="button" class="btn btn-success">Open</button>
        <button (click)="doSave()" type="button" class="btn btn-warning">Save</button>
        <button (click)="doClear()" type="button" class="btn btn-danger">Clear</button>
      </div>
      <h4 style="margin-left:30px">{{workspace.myName}}</h4>
      <button (click)="doSaveWorkspace()" type="button" class="btn btn-warning">Save Workspace</button>
    </div>
  </div> -->

</div>

<div class="row">

  <div class="col-md-8">
    <canvas #canvas></canvas>

  </div>


  <!-- <div class="col-md-4">
    <tabset type="pills">
      <tab heading='Knowledge'>
        <fo-knowledge [workspace]='workspace'></fo-knowledge>
      </tab>
      <tab heading='Model'>
        <fo-model [workspace]='workspace'></fo-model>
      </tab>
      <tab heading='Stencil'>
        <fo-stencil [workspace]='workspace'></fo-stencil>
      </tab>
      <tab heading='Drawing'>
        <fo-drawing [workspace]='workspace'></fo-drawing>
      </tab>
      <tab heading='Studio'>
        <fo-studio [workspace]='workspace'></fo-studio>
      </tab>
      <tab heading='Debug'>
        <fo-events></fo-events>
      </tab>
    </tabset>
  </div> -->
</div>
