<nav class="navbar navbar-expand-lg navbar-dark bg-dark " role="navigation">
  <div class="container-fluid">
    <!-- <a class='navbar-brand' [href]="href" target="_blank">+</a> -->
    <a class='navbar-brand' [routerLink]="['/welcome']">Welcome</a>
    <a class="nav navbar-brand " [routerLink]="[ '/boid'] ">Boid</a>

    <div class="nav navbar-nav navbar-right ">
      <a class="nav navbar-brand " [routerLink]="[ '/canvas'] ">Canvas</a>
      <a class="nav navbar-brand " [routerLink]="[ '/test'] ">Test</a>
    </div>

  </div>
</nav>



<ul>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki">CLI Documentation</a>
    </h2>
  </li>
  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://github.com/angular/angular-cli/wiki/stories-create-library">building a lib</a>
    </h2>
  </li>

  <li>
    <h2>
      <a target="_blank" rel="noopener" href="https://www.typescriptlang.org/docs/handbook/module-resolution.html">module resolution</a>
    </h2>
  </li>
</ul>

<button class="btn btn-success" (click)="showSuccess()">Toastr Tester</button>

<div class="content" style="padding-top:0px">
  <router-outlet></router-outlet>
</div>


